<h1>New</h1>

<form action="/quotes" method="POST">
  <label for="quote_text">Quote</label>
  <input name="quote[text]" id="quote_text">

  <label for="quote_author">Author</label>
  <input name="quote[author]" id="quote_author">

  <button>Add Quote</button>

</form>